<a href="https://colab.research.google.com/github/mezgoodle/ad_labs/blob/master/docs/lab7/lab7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Вступ

Написати програму, яка навчає та тестує (при потребі) модель, що виконує завдання відповідно до варіанту, оцінити модель за допомогою відповідних метрик.

Варіант 7: lab2/possum.csv. Виконати кластерний аналіз на даних, описати результати.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import calinski_harabasz_score, davies_bouldin_score, silhouette_score

# Дані

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/mezgoodle/ad_labs/master/data/possum.csv').dropna()
df.head(5)

   case  site  Pop sex  age  ...  footlgth  earconch   eye  chest  belly
0     1     1  Vic   m  8.0  ...      74.5      54.5  15.2   28.0   36.0
1     2     1  Vic   f  6.0  ...      72.5      51.2  16.0   28.5   33.0
2     3     1  Vic   f  6.0  ...      75.4      51.9  15.5   30.0   34.0
3     4     1  Vic   f  6.0  ...      76.1      52.2  15.2   28.0   34.0
4     5     1  Vic   f  2.0  ...      71.0      53.2  15.1   28.5   33.0

[5 rows x 14 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101 entries, 0 to 103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      101 non-null    int64
 1   site      101 non-null    int64
 2   Pop       101 non-null    object
 3   sex       101 non-null    object
 4   age       101 non-null    float64
 5   hdlngth   101 non-null    float64
 6   skullw    101 non-null    float64
 7   totlngth  101 non-null    float64
 8   taill     101 non-null    float64
 9   footlgth  101 non-null    float64
 10  earconch  101 non-null    float64
 11  eye       101 non-null    float64
 12  chest     101 non-null    float64
 13  belly     101 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.8+ KB

In [5]:
df_x = df.drop(columns=['sex', 'Pop'])
df_y = df.pop('sex')
df_y = df_y.replace(['m', 'f'], [1, 0])

# Створення конвеєру

In [6]:
pipeline = Pipeline([('scale', StandardScaler()),('kmeans', KMeans(n_clusters=2, random_state=0))])
pipeline1 = Pipeline([('scale', StandardScaler()),('kmeans', KMeans(n_clusters=2, random_state=0))])

In [7]:
pipeline.fit(df_x)

Pipeline(steps=[('scale', StandardScaler()),
                ('kmeans', KMeans(n_clusters=2, random_state=0))])

In [8]:
pred = pipeline.predict(df_x)
pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int32)

# Оцінка моделі за допомогою метрик

In [9]:
silhouette_score(df_x, pred)

0.5212538024326965

Ця метрика повертає значення в діапазоні [-1, 1], де -1 є найгіршим
(кластери призначені неправильно), а 1 найкращим; значення
поблизу 0 вказують, що кластери перекриваються. Чим вище це
число, тим краще визначені (більш відокремлені) кластери

In [10]:
calinski_harabasz_score(df_x, pred)

197.11080768651638

Ще одним показником є оцінка Калінського та Харабаса, або
критерій співвідношення дисперсії, який є відношенням дисперсії
всередині кластера до дисперсії між кластерами. Вищі значення
вказують на краще визначені (більш відокремлені) кластери

In [11]:
davies_bouldin_score(df_x, pred)

0.6365322458647303

Це відношення відстаней всередині кластера (відстаней між точками в кластері) до відстаней між кластерами(відстаней між точками в різних кластерах), яке називається оцінкою Девіса-Болдіна. Значення ближчі до нуля вказують на кращі розділи між кластерами

# Інше

In [12]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.3)

In [13]:
pipeline1.fit(x_train, y_train)

Pipeline(steps=[('scale', StandardScaler()),
                ('kmeans', KMeans(n_clusters=2, random_state=0))])

In [14]:
pred = pipeline1.predict(x_test)
pred

array([0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1], dtype=int32)