<a href="https://colab.research.google.com/github/mezgoodle/ad_labs/blob/master/docs/lab7/lab7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Вступ

Написати програму, яка навчає та тестує (при потребі) модель, що виконує завдання відповідно до варіанту, оцінити модель за допомогою відповідних метрик.

Варіант 7: lab2/possum.csv. Виконати кластерний аналіз на даних, описати результати.

In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [79]:
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, explained_variance_score, silhouette_score



*   тестування
*   навчання
*   оцінка моделі
*   кластерний аналіз

# Дані

In [80]:
df = pd.read_csv('https://raw.githubusercontent.com/mezgoodle/ad_labs/master/data/possum.csv').dropna()
df.head(5)

   case  site  Pop sex  age  ...  footlgth  earconch   eye  chest  belly
0     1     1  Vic   m  8.0  ...      74.5      54.5  15.2   28.0   36.0
1     2     1  Vic   f  6.0  ...      72.5      51.2  16.0   28.5   33.0
2     3     1  Vic   f  6.0  ...      75.4      51.9  15.5   30.0   34.0
3     4     1  Vic   f  6.0  ...      76.1      52.2  15.2   28.0   34.0
4     5     1  Vic   f  2.0  ...      71.0      53.2  15.1   28.5   33.0

[5 rows x 14 columns]

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101 entries, 0 to 103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      101 non-null    int64
 1   site      101 non-null    int64
 2   Pop       101 non-null    object
 3   sex       101 non-null    object
 4   age       101 non-null    float64
 5   hdlngth   101 non-null    float64
 6   skullw    101 non-null    float64
 7   totlngth  101 non-null    float64
 8   taill     101 non-null    float64
 9   footlgth  101 non-null    float64
 10  earconch  101 non-null    float64
 11  eye       101 non-null    float64
 12  chest     101 non-null    float64
 13  belly     101 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.8+ KB

In [82]:
x_train, x_test, y_train, y_test = train_test_split(df[['age', 'hdlngth', 'skullw']], df['earconch'], test_size=0.3)

In [83]:
pipeline = Pipeline([('scale', StandardScaler()),('kmeans', KMeans(n_clusters=4, random_state=0))])
pipeline

Pipeline(steps=[('scale', StandardScaler()),
                ('kmeans', KMeans(n_clusters=4, random_state=0))])

In [92]:
pipeline.fit(x_train, y_train)

Pipeline(steps=[('scale', StandardScaler()),
                ('kmeans', KMeans(n_clusters=4, random_state=0))])

In [93]:
pred = pipeline.predict(x_test)
pred

array([1, 3, 1, 3, 2, 3, 3, 0, 3, 0, 2, 3, 0, 3, 0, 3, 3, 3, 3, 3, 2, 3,
       2, 2, 3, 1, 3, 3, 0, 1, 3], dtype=int32)

In [94]:
r2_score(y_test,pred)

-146.466433645217

In [95]:
explained_variance_score(y_test, pred)

-0.08533661902133827