<a href="https://colab.research.google.com/github/mezgoodle/ad_labs/blob/master/docs/lab5/lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Вступ

Створити програму, яка виконує наступні завдання:

1. Створити не менше двох об’єктів TimeSeries, у яких індекси створені за
допомогою date_range(). Виділити підмасиви у цих об’єктів. Провести
об’єднання об’єктів TimeSeries за допомогою merge_asof().

2. Виконати завдання відповідно до варіанту.

Варіант 7.
*Файл Microsoft_Stock.csv.*

1. Побудувати графік зміни ціни на час закриття біржі: а) загальний; б)
за 2019 рік; в) за вересень 2018 року; г) за листопад 2015 – січень
2018; д) за останні два тижня січня 2021-го року.

2. Знайти середні значення найбільшої ціни за день а) за 2016 рік; б) за
кожний місяць; в) за кожний тиждень першого кварталу 2019 року.

In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Дані

In [92]:
df = pd.read_csv('https://raw.githubusercontent.com/mezgoodle/ad_labs/master/data/Microsoft_Stock.csv', index_col='Date', parse_dates=True)
df

                       Open    High     Low   Close    Volume
Date
2015-04-01 16:00:00   40.60   40.76   40.31   40.72  36865322
2015-04-02 16:00:00   40.66   40.74   40.12   40.29  37487476
2015-04-06 16:00:00   40.34   41.78   40.18   41.55  39223692
2015-04-07 16:00:00   41.61   41.91   41.31   41.53  28809375
2015-04-08 16:00:00   41.48   41.69   41.04   41.42  24753438
...                     ...     ...     ...     ...       ...
2021-03-25 16:00:00  235.30  236.94  231.57  232.34  34061853
2021-03-26 16:00:00  231.55  236.71  231.55  236.48  25479853
2021-03-29 16:00:00  236.59  236.80  231.88  235.24  25227455
2021-03-30 16:00:00  233.53  233.85  231.10  231.85  24792012
2021-03-31 16:00:00  232.91  239.10  232.39  235.77  43623471

[1511 rows x 5 columns]

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1511 entries, 2015-04-01 16:00:00 to 2021-03-31 16:00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1511 non-null   float64
 1   High    1511 non-null   float64
 2   Low     1511 non-null   float64
 3   Close   1511 non-null   float64
 4   Volume  1511 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 70.8 KB

In [94]:
df.describe().T

         count          mean  ...           75%           max
Open    1511.0  1.073860e+02  ...  1.394400e+02  2.450300e+02
High    1511.0  1.084375e+02  ...  1.403250e+02  2.461300e+02
Low     1511.0  1.062945e+02  ...  1.378250e+02  2.429200e+02
Close   1511.0  1.074221e+02  ...  1.389650e+02  2.449900e+02
Volume  1511.0  3.019863e+07  ...  3.431962e+07  1.352271e+08

[5 rows x 8 columns]

# Перше завдання

In [95]:
date_indexes = pd.date_range('2015-04-01 16:00:00', '2021', freq='3D')
date_indexes

DatetimeIndex(['2015-04-01 16:00:00', '2015-04-04 16:00:00',
               '2015-04-07 16:00:00', '2015-04-10 16:00:00',
               '2015-04-13 16:00:00', '2015-04-16 16:00:00',
               '2015-04-19 16:00:00', '2015-04-22 16:00:00',
               '2015-04-25 16:00:00', '2015-04-28 16:00:00',
               ...
               '2020-12-03 16:00:00', '2020-12-06 16:00:00',
               '2020-12-09 16:00:00', '2020-12-12 16:00:00',
               '2020-12-15 16:00:00', '2020-12-18 16:00:00',
               '2020-12-21 16:00:00', '2020-12-24 16:00:00',
               '2020-12-27 16:00:00', '2020-12-30 16:00:00'],
              dtype='datetime64[ns]', length=701, freq='3D')

In [96]:
open_series = pd.Series(df['Open'].fillna(method='ffill'), index=date_indexes).dropna()
open_series

2015-04-01 16:00:00     40.60
2015-04-07 16:00:00     41.61
2015-04-10 16:00:00     41.63
2015-04-13 16:00:00     41.40
2015-04-16 16:00:00     41.95
                        ...
2020-12-09 16:00:00    215.16
2020-12-15 16:00:00    215.17
2020-12-18 16:00:00    218.59
2020-12-21 16:00:00    217.55
2020-12-30 16:00:00    225.23
Name: Open, Length: 476, dtype: float64

In [97]:
date_indexes = pd.date_range('2015-04-01 16:00:00', '2019-11', freq='3B')
date_indexes

DatetimeIndex(['2015-04-01 16:00:00', '2015-04-06 16:00:00',
               '2015-04-09 16:00:00', '2015-04-14 16:00:00',
               '2015-04-17 16:00:00', '2015-04-22 16:00:00',
               '2015-04-27 16:00:00', '2015-04-30 16:00:00',
               '2015-05-05 16:00:00', '2015-05-08 16:00:00',
               ...
               '2019-09-20 16:00:00', '2019-09-25 16:00:00',
               '2019-09-30 16:00:00', '2019-10-03 16:00:00',
               '2019-10-08 16:00:00', '2019-10-11 16:00:00',
               '2019-10-16 16:00:00', '2019-10-21 16:00:00',
               '2019-10-24 16:00:00', '2019-10-29 16:00:00'],
              dtype='datetime64[ns]', length=399, freq='3B')

In [98]:
close_series = pd.Series(df['Close'].fillna(method='ffill'), index=date_indexes).dropna()
close_series

2015-04-01 16:00:00     40.72
2015-04-06 16:00:00     41.55
2015-04-09 16:00:00     41.48
2015-04-14 16:00:00     41.65
2015-04-17 16:00:00     41.62
                        ...
2019-10-11 16:00:00    139.68
2019-10-16 16:00:00    140.41
2019-10-21 16:00:00    138.43
2019-10-24 16:00:00    139.94
2019-10-29 16:00:00    142.83
Name: Close, Length: 385, dtype: float64

In [99]:
open_series_indexed = open_series['2016-05':'2017-03']
open_series_indexed

2016-05-04 16:00:00    49.84
2016-05-10 16:00:00    50.33
2016-05-13 16:00:00    51.44
2016-05-16 16:00:00    50.80
2016-05-19 16:00:00    50.47
                       ...
2017-03-15 16:00:00    64.55
2017-03-21 16:00:00    65.19
2017-03-24 16:00:00    65.12
2017-03-27 16:00:00    64.63
2017-03-30 16:00:00    65.42
Name: Open, Length: 78, dtype: float64

In [100]:
close_series_indexed = close_series['2017-05']
close_series_indexed

2017-05-01 16:00:00    69.41
2017-05-04 16:00:00    68.81
2017-05-09 16:00:00    69.04
2017-05-12 16:00:00    68.38
2017-05-17 16:00:00    67.48
2017-05-22 16:00:00    68.45
2017-05-25 16:00:00    69.62
2017-05-30 16:00:00    70.41
Name: Close, dtype: float64

In [101]:
merged_series = pd.merge_asof(open_series, close_series, left_index=True, right_index=True)
merged_series

                       Open   Close
2015-04-01 16:00:00   40.60   40.72
2015-04-07 16:00:00   41.61   41.55
2015-04-10 16:00:00   41.63   41.48
2015-04-13 16:00:00   41.40   41.48
2015-04-16 16:00:00   41.95   41.65
...                     ...     ...
2020-12-09 16:00:00  215.16  142.83
2020-12-15 16:00:00  215.17  142.83
2020-12-18 16:00:00  218.59  142.83
2020-12-21 16:00:00  217.55  142.83
2020-12-30 16:00:00  225.23  142.83

[476 rows x 2 columns]

# Друге завдання

# Третє завдання

# Четверте завдання