<a href="https://colab.research.google.com/github/mezgoodle/ad_labs/blob/master/docs/lab5/lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Вступ

Створити програму, яка виконує наступні завдання:

1. Створити не менше двох об’єктів TimeSeries, у яких індекси створені за
допомогою date_range(). Виділити підмасиви у цих об’єктів. Провести
об’єднання об’єктів TimeSeries за допомогою merge_asof().

2. Виконати завдання відповідно до варіанту.

Варіант 7.
*Файл Microsoft_Stock.csv.*

1. Побудувати графік зміни ціни на час закриття біржі: а) загальний; б)
за 2019 рік; в) за вересень 2018 року; г) за листопад 2015 – січень
2018; д) за останні два тижня січня 2021-го року.

2. Знайти середні значення найбільшої ціни за день а) за 2016 рік; б) за
кожний місяць; в) за кожний тиждень першого кварталу 2019 року.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Дані

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/mezgoodle/ad_labs/master/data/Microsoft_Stock.csv')
df

                    Date    Open    High     Low   Close    Volume
0      4/1/2015 16:00:00   40.60   40.76   40.31   40.72  36865322
1      4/2/2015 16:00:00   40.66   40.74   40.12   40.29  37487476
2      4/6/2015 16:00:00   40.34   41.78   40.18   41.55  39223692
3      4/7/2015 16:00:00   41.61   41.91   41.31   41.53  28809375
4      4/8/2015 16:00:00   41.48   41.69   41.04   41.42  24753438
...                  ...     ...     ...     ...     ...       ...
1506  3/25/2021 16:00:00  235.30  236.94  231.57  232.34  34061853
1507  3/26/2021 16:00:00  231.55  236.71  231.55  236.48  25479853
1508  3/29/2021 16:00:00  236.59  236.80  231.88  235.24  25227455
1509  3/30/2021 16:00:00  233.53  233.85  231.10  231.85  24792012
1510  3/31/2021 16:00:00  232.91  239.10  232.39  235.77  43623471

[1511 rows x 6 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511 entries, 0 to 1510
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1511 non-null   object
 1   Open    1511 non-null   float64
 2   High    1511 non-null   float64
 3   Low     1511 non-null   float64
 4   Close   1511 non-null   float64
 5   Volume  1511 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 71.0+ KB

In [7]:
df.describe().T

         count          mean  ...           75%           max
Open    1511.0  1.073860e+02  ...  1.394400e+02  2.450300e+02
High    1511.0  1.084375e+02  ...  1.403250e+02  2.461300e+02
Low     1511.0  1.062945e+02  ...  1.378250e+02  2.429200e+02
Close   1511.0  1.074221e+02  ...  1.389650e+02  2.449900e+02
Volume  1511.0  3.019863e+07  ...  3.431962e+07  1.352271e+08

[5 rows x 8 columns]

# Перше завдання

# Друге завдання

# Третє завдання

# Четверте завдання