<a href="https://colab.research.google.com/github/mezgoodle/ad_labs/blob/master/docs/lab3/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Вступ

Створити програму, яка за даними файлу відповідно до варіантів
лабораторної No2, виконує наступні завдання:

1. Виділити один зі стовпців (на вибір) з файлу як об’єкт Series. Задати
назви індексів цього об’єкту. Виділити підмасиви за допомогою прямої
та непрямої індексацій.
2. До об’єкту DataFrame, в який записано вміст файлу, додати новий
стовпець, що є результатом операцій над іншими стовпцями.
3. Створити ієрархічну індексацію (не менше двох рівнів) для цього об’єкту
DataFrame. Продемонструвати виділення підмасивів за певною ознакою
з використанням мультиіндексації. Продемонструвати розрахунок
результату операції агрегування з використанням ієрархічних рівнів.
4. Створити декілька власних об’єктів DataFrame за такою ж тематикою, що
й файл. Наприклад, якщо тема файлу – жаби, можна створити об’єкти,
що містять розміри жаб, вагу, стать, кількість особин в популяції і т.д.
Використати описані в теоретичних відомостях параметри методу merge
для різних видів злиття даних цих об’єктів.

In [276]:
import pandas as pd
import numpy as np

# Дані

In [277]:
df = pd.read_csv('https://raw.githubusercontent.com/mezgoodle/ad_labs/master/data/Crime.csv')

# Перше завдання

In [278]:
ser = pd.Series(df['CrimeRate'], index=[i for i in range(0 + 3, len(df['CrimeRate']) + 3)])
ser

3      60.3
4      64.2
5      67.6
6      70.5
7      73.2
8      75.0
9      78.1
10     79.8
11     82.3
12     83.1
13     84.9
14     85.6
15     88.0
16     92.3
17     94.3
18     95.3
19     96.8
20     97.4
21     98.7
22     99.9
23    103.0
24    104.3
25    105.9
26    106.6
27    107.2
28    108.3
29    109.4
30    112.1
31    114.3
32    115.1
33    117.2
34    119.7
35    121.6
36    123.4
37    127.2
38    132.4
39    135.5
40    137.8
41    140.8
42    145.4
43    149.3
44    154.3
45    157.7
46    161.8
47      NaN
48      NaN
49      NaN
Name: CrimeRate, dtype: float64

In [279]:
ser.loc[3:5]

3    60.3
4    64.2
5    67.6
Name: CrimeRate, dtype: float64

In [280]:
ser.iloc[3:5]

6    70.5
7    73.2
Name: CrimeRate, dtype: float64

# Друге завдання

In [281]:
df['WageRatio'] = df['Wage'] / df['StateSize']
df['WageRatio']

0      94.000000
1      75.500000
2      13.090909
3      24.052632
4      14.825000
5      18.107143
6      34.714286
7      48.700000
8     122.250000
9      60.714286
10     17.666667
11      5.061947
12     24.045455
13     27.560000
14      8.608696
15     75.142857
16     16.382353
17     12.294118
18      6.360825
19     11.939394
20     13.500000
21     12.400000
22     10.972222
23     15.916667
24     12.340426
25    196.000000
26     10.794872
27     65.555556
28     32.722222
29     20.354839
30     12.939394
31    155.000000
32     77.142857
33     21.448276
34      3.791667
35     20.086957
36      5.083333
37     11.930233
38     53.700000
39      8.025641
40     32.111111
41     62.111111
42      9.440000
43     42.846154
44      6.504950
45      4.286624
46    224.666667
Name: WageRatio, dtype: float64

# Третє завдання

In [282]:
a=pd.Series(np.arange(0, 7))
b=pd.Series(['I','II', 'III'])
multi_in=pd.MultiIndex.from_product([['A', 'B'],b, a])
df = pd.read_csv('https://raw.githubusercontent.com/mezgoodle/ad_labs/master/data/Crime.csv')
df = df[:-5]
df.set_index([multi_in], inplace=True)
df

         CrimeRate  Youth  Southern  ...  HighYouthUnemploy10  Wage10  BelowWage10
A I   0       45.5    135         0  ...                    1     632          142
      1       52.3    140         0  ...                    1     521          210
      2       56.6    157         1  ...                    0     359          256
      3       60.3    139         1  ...                    0     510          235
      4       64.2    126         0  ...                    1     660          162
      5       67.6    128         0  ...                    1     571          199
      6       70.5    130         0  ...                    1     556          176
  II  0       73.2    143         0  ...                    1     561          168
      1       75.0    141         0  ...                    1     550          126
      2       78.1    133         0  ...                    1     499          215
      3       79.8    142         1  ...                    0     378          247
      4       82.3    123         0  ...                    0     639          146
      5       83.1    135         0  ...                    0     591          189
      6       84.9    121         0  ...                    0     742          127
  III 0       85.6    166         1  ...                    1     568          246
      1       88.0    140         0  ...                    1     570          182
      2       92.3    126         0  ...                    1     621          199
      3       94.3    130         0  ...                    0     692          140
      4       95.3    125         0  ...                    0     679          162
      5       96.8    151         1  ...                    0     465          254
      6       97.4    152         1  ...                    0     470          243
B I   0       98.7    162         1  ...                    0     562          229
      1       99.9    149         1  ...                    0     476          249
      2      103.0    177         1  ...                    0     456          257
      3      104.3    134         0  ...                    0     649          182
      4      105.9    130         0  ...                    0     649          159
      5      106.6    157         1  ...                    0     499          243
      6      107.2    148         0  ...                    0     656          151
  II  0      108.3    126         0  ...                    1     659          160
      1      109.4    135         1  ...                    0     703          175
      2      112.1    142         1  ...                    0     500          256
      3      114.3    127         1  ...                    0     696          170
      4      115.1    131         0  ...                    1     615          177
      5      117.2    136         0  ...                    1     691          169
      6      119.7    119         0  ...                    1     698          169
  III 0      121.6    147         1  ...                    1     511          220
      1      123.4    145         1  ...                    1     550          230
      2      127.2    132         0  ...                    0     589          234
      3      132.4    152         0  ...                    1     617          204
      4      135.5    125         0  ...                    0     684          174
      5      137.8    141         0  ...                    1     649          180
      6      140.8    150         0  ...                    0     635          151

[42 rows x 27 columns]

In [283]:
df.mean(level=1)

      CrimeRate       Youth  ...      Wage10  BelowWage10
I     81.614286  143.714286  ...  554.000000   203.571429
II    96.607143  132.428571  ...  608.714286   178.142857
III  112.028571  141.571429  ...  592.857143   201.357143

[3 rows x 27 columns]

In [284]:
df.max(level=2)

   CrimeRate  Youth  Southern  ...  HighYouthUnemploy10  Wage10  BelowWage10
0      121.6    166         1  ...                    1     659          246
1      123.4    149         1  ...                    1     703          249
2      127.2    177         1  ...                    1     621          257
3      132.4    152         1  ...                    1     696          247
4      135.5    131         0  ...                    1     684          177
5      137.8    157         1  ...                    1     691          254
6      140.8    152         1  ...                    1     742          243

[7 rows x 27 columns]

In [285]:
crime_rate_series = pd.Series(df['CrimeRate'])

In [286]:
crime_rate_series[crime_rate_series > 100]

B  I    2    103.0
        3    104.3
        4    105.9
        5    106.6
        6    107.2
   II   0    108.3
        1    109.4
        2    112.1
        3    114.3
        4    115.1
        5    117.2
        6    119.7
   III  0    121.6
        1    123.4
        2    127.2
        3    132.4
        4    135.5
        5    137.8
        6    140.8
Name: CrimeRate, dtype: float64

In [287]:
crime_rate_series[:, 'II', :]

A  0     73.2
   1     75.0
   2     78.1
   3     79.8
   4     82.3
   5     83.1
   6     84.9
B  0    108.3
   1    109.4
   2    112.1
   3    114.3
   4    115.1
   5    117.2
   6    119.7
Name: CrimeRate, dtype: float64

In [288]:
crime_rate_series['A', 'II']

0    73.2
1    75.0
2    78.1
3    79.8
4    82.3
5    83.1
6    84.9
Name: CrimeRate, dtype: float64

# Четверте завдання

In [289]:
a_df = pd.DataFrame({'CrimeRate': df['CrimeRate'], 'Youth': df['Youth'], 'Males': df['Males']})
b_df = pd.DataFrame({'CrimeRate_1': df['CrimeRate'], 'Wage': df['Wage'], 'Youth': df['Youth']})

In [290]:
c_df = pd.merge(a_df, b_df, left_on='CrimeRate', right_on='CrimeRate_1',
                suffixes=('_left', '_right')).drop('CrimeRate_1', axis=1)
c_df

    CrimeRate  Youth_left  Males  Wage  Youth_right
0        45.5         135    965   564          135
1        52.3         140   1045   453          140
2        56.6         157    962   288          157
3        60.3         139    968   457          139
4        64.2         126    989   593          126
5        67.6         128    972   507          128
6        70.5         130    984   486          130
7        73.2         143    977   487          143
8        75.0         141    968   489          141
9        78.1         133   1024   425          133
10       79.8         142    969   318          142
11       82.3         123    948   572          123
12       83.1         135    986   529          135
13       84.9         121    964   689          121
14       85.6         166    973   396          166
15       88.0         140   1029   526          140
16       92.3         126    984   557          126
17       94.3         130    934   627          130
18       95.3         125    964   617          125
19       96.8         151    950   394          151
20       97.4         152    986   405          152
21       98.7         162    996   496          162
22       99.9         149    953   395          149
23      103.0         177    974   382          177
24      104.3         134    972   580          134
25      105.9         130   1049   588          130
26      106.6         157    955   421          157
27      107.2         148    998   590          148
28      108.3         126    990   589          126
29      109.4         135    978   631          135
30      112.1         142    956   427          142
31      114.3         127    982   620          127
32      115.1         131   1038   540          131
33      117.2         136   1012   622          136
34      119.7         119    938   637          119
35      121.6         147    972   462          147
36      123.4         145    981   488          145
37      127.2         132    953   513          132
38      132.4         152   1018   537          152
39      135.5         125    985   626          125
40      137.8         141    985   578          141
41      140.8         150    964   559          150

In [291]:
b_df = pd.DataFrame({'CrimeRate_1': df['CrimeRate'], 'Wage': df['Wage'], 'Youth': df['Youth'], 'Males': df['Males10']})

In [292]:
c_df = pd.merge(a_df, b_df, how='inner', suffixes=('_left', '_right'))
c_df

   CrimeRate  Youth  Males  CrimeRate_1  Wage
0       64.2    126    989         64.2   593
1       75.0    141    968         75.0   489
2       78.1    133   1024         78.1   425
3       79.8    142    969         79.8   318
4      109.4    135    978        109.4   631